.profile_ava,
.profile-ava_change_btns{
display: flex;
}
.profile_ava,
.profile-ava_change{

gap:20px;}
.profile-ava_change_btns {
gap:24px}
.profile-ava_change {
display: flex;
flex-direction: column;
}
.profile-ava_change > span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #A2A2A2;
}
.profile_ava_picture {
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
background: #E7E7FF;
border-radius: 100px;
}
.main-container.sec-reg {
flex-direction: column;
}
.filled-btn.next {
    width:94px;
    height: 43px;
    }
    .profile_ava_picture {

    }
    .profile_ava_picture >img {
    width: 56px;
    height: 56px;
    }

