.btn-wrapper {
  display: flex;
  justify-content: center;
}

.sert-upload .btn-wrapper {
  justify-content: flex-start;
}

.empty-btn,
.filled-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 100px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.empty-btn {
  background: #fefeff;
  border: 2px solid #5e66a7;
  color: #5e66a7;
}

.filled-btn {
  background: #5e66a7;
  border: 2px solid #5e66a7;
  color: #fefeff;
}

.user .btn-wrapper {
  justify-content: flex-end;
}