.error {
    width: 100%;
    padding: 24px 32px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1.5px solid #F42C4F;
    border-radius: 5px;
    background: #FEEBEA;
    width: 100%;
}

.error.hidden {
    display: none;
}

.content-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #4a4a4f;
}

.content-error svg {
    width: 40px;
    height: 40px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 24px;
}

.closeBtn {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 486px) {
    .content-error {
        font-size: 18px;
    }

    .error {
        padding: 10px;
    }

    .content-error svg {
        margin-right: 10px;
    }
}