.user-type-bl {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.user-type-bl>h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4a4a4f;
}

.reg-title-and-user-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.is-not-confirmed {
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e7e7ff;
  border-radius: 5px;
  height: 71px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -10px;
}

.is-not-confirmed>span {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  padding: 10px 24px 0 10px;
  width: 380px;
}

.is-not-confirmed>span:last-of-type {
  text-align: right;
  color: #5e66a7;
  padding: 0px 24px 10px 10px;
  width: 100%;
}

.custom-form_s .hidden-bl {
  width: 100%;
}

.tt-lang-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tt-lang-bl>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 120px;
}

.sert-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.sert-upload-bl {
  width: 380px;
}

.sert-upload_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.sert-upload_descr_inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8.5px;
  position: relative;
}

.remove-icon {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
  right: 10px;
}

.sert-upload_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sert-upload_btn,
.add-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #a2a2a2;
}

.add-lang {
  font-size: 18px;
  line-height: 130%;
  color: #4a4a4f;
}

.prof-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 880px;
}

.next-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  padding-top: 60px;
}

@media screen and (max-width: 1080px) {

  .sert-upload-bl,
  .prof-skills {
    width: 100%;
  }

  .custom-form_s {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .tt-lang-bl>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }

  .is-not-confirmed>span {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {

  .custom-form_bl .custom-form_s,
  .tt-lang-bl .custom-form_s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 380px;
    row-gap: 20px;
  }

  .is-not-confirmed {
    height: auto;
  }

  .tutor-secondary-reg .custom-form {
    row-gap: 20px;
  }

  .prof-skills {
    width: 380px;
  }
}

@media screen and (max-width: 465px) {

  .custom-form_bl .custom-form_s,
  .tt-lang-bl .custom-form_s,
  .prof-skills {
    width: 100%;
  }
}