.st-lang-bl {
  display: flex;
  width: 880px;
  flex-direction: column;
  row-gap: 20px;
}

.st-lang-bl .btn-wrapper {
  justify-content: flex-start;
}
@media screen and (max-width: 1080px) {
  .st-lang-bl {
    width: 100%;
  }
  .is-not-confirmed > span {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .st-lang-bl {
    width: 380px;
  }
  .st-lang-bl .custom-form_s {
    flex-direction: column;
    row-gap: 20px;
  }
  .is-not-confirmed {
    height: auto;
  }
  .custom-form_s .hidden-bl {
    display: none;
  }

  .is-not-confirmed > span {
    width: 380px;
  }
  .tutor-secondary-reg .custom-form {
    row-gap: 20px;
  }

  .profile-ava_change_btns {
    flex-direction: column;

  }
  .profile-ava_change .btn-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .st-lang-bl {
    width: 100%;
  }
  .is-not-confirmed > span {
    width: 100%;
  }
}
