
.user-type-bl {
width: 100%;
align-items:center;
display: flex;
flex-direction: column;
row-gap:10px;

}
.user-type-bl >h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  
  
  /* black */
  
  color: #4A4A4F;
}
.reg-title-and-user-type {
display: flex;
flex-direction: column;
gap:30px;
}

/* .container__log {
  position: fixed;
  z-index: 8;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 56px;
  gap: 32px;
  width: 528px;

  background: #ffffff;
  border-radius: 16px;

}

.custom-form.result {
  width: 600px;

}

.cleverland-title {

  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  padding-bottom: 46px;
  color: #ffffff;
}

.custom-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1pxж;
}

.custom-title.result {
  margin: 0 auto;
}

.custom-step {
  padding-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.custom-input {
  width: 100%;
  height: 40px;
  padding: 26px 12px 12px 12px;
}

.custom-label {
  position: absolute;
  left: 12px;
  top: 19px;
  transition: 0.3s;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.custom-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 416px;
}

.custom-input:focus ~ .custom-label,
.custom-input:not(:focus):valid ~ .custom-label,
.custom-input:not(:focus):disabled ~ .custom-label {
  top: 0px;
  font-size: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
  padding: 6px 0 4px 0;
}

.custom-item > input:focus-visible {
  outline: none;
}

.custom-item > input {
  background: #f9f9fa;
  border-radius: 4px;
  border: none;
  height: 56px;
  padding: auto 12px 12px 12px;
}
.custom-item span {
  width: 100%;
  display: flex;
  border-top: 1px solid #a7a7a7;
  padding: 2px 0 0 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
}

.custom-item.result {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #363636;
  width: 100%;
}



.eye {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
}
.done {
  position: absolute;
  right: 44px;
  width: 24px;
  height: 24px;
  top: 16px;
}

.log-in-question {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #727272;
}
.login-in-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;


  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  column-gap: 12px;
  color: #363636;
}

.link-to-auth-page {
  display: flex;
  column-gap: 16px;
}
.btn-and-link-to-auth-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 16px;
}
input.reserv-btn {
  width: 100%;
  height: 52px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.custom-form.result {
  width: 600px;

  padding: 48px 92px;
}

.custom-form.result {
  width: 600px;

  padding: 48px 92px;
}

@media only all and (max-width: 640px) {
  .custom-form,
  .custom-form{
    width: 288px;
    padding: 24px 16px;

  }
  .cleverland-title {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 12px;

  }

  input.reserv-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    height: 40px;
  }


  .link-to-auth-page {
    flex-direction: column;
    gap: 7px;
  }
  .custom-item {
    width: 100%;
  }
  .custom-item.result {
    font-size: 15px;
    line-height: 20px;
  }
  .custom-title.result {
    font-size: 18px;
    line-height: 28px;
  }
  .custom-form.result {
    padding: 42px 16px 32px;
    gap: 24px;
    isolation: isolate;
    width: 288px;
  }
  
  .log-in-question {
    font-size: 15px;
    line-height: 20px;
  }
} */
